<h2>Añadir Producto</h2>
nombre: <input [(ngModel)]="producto.nombre" placeholder="nombre del producto" type="text"><br>
precio: <input [(ngModel)]="producto.precio" placeholder="0.5" type="number" min="0" step="0.5"><br>
descripcion: <input [(ngModel)]="producto.descripcion" placeholder="descripción del producto" type="text"><br>
fecha alta: <input [(ngModel)]="producto.fechaAlta" type="date"><br>
descatalogado: <input [(ngModel)]="producto.descatalogado" type="checkbox"><br>
categoria: <select [(ngModel)]="producto.categoria">
  <option *ngFor="let categoria of categorias">{{categoria}}</option>
</select>
<br><br>

<button (click)="addProducto()"> Add producto </button>
