<h2>Añadir camarero</h2>
<!--<input *ngIf='camarero' [(ngModel)]='camarero.nombre' type="text"><br>
<button (click)='addCamarero()'>Add camarero</button><br>-->

<span class="ui-float-label">
    <input id="float-input" type="text" *ngIf='camarero' [(ngModel)]='camarero.nombre' size="30" pInputText> 
    <label for="float-input">Nombre camarero</label>
</span>
<br>

<p-button (click)='addCamarero()' icon="pi pi-upload" label="Add camarero"></p-button>
<!-- <button (click)='addCamarero()'>Add camarero</button><br> -->
