
<nav>
  <ul>
    <li>
      <a routerLink='Alta_Camarero'> Alta Camarero</a>
    </li>
    <li>
      <a routerLink='Listado_Camareros'> Listado Camareros</a>
    </li>
    <li>
      <a routerLink='Alta_Producto'> Alta Producto</a>
    </li>
    <li>
      <a routerLink='Listado_Productos'> Listado Productos</a>
    </li>
    <li>
      <a routerLink='Alta_Pedido'> Alta Pedido</a>
    </li>
    <li>
      <a routerLink='Listado_Pedidos'> Listado Pedidos</a>
    </li>
  </ul>
</nav>

<hr>
<router-outlet></router-outlet>