
<!--<nav>
  <ul>
    <li>
      <a routerLink='Alta_Camarero'> Alta Camarero</a>
    </li>
    <li>
      <a routerLink='Listado_Camareros'> Listado Camareros</a>
    </li>
    <li>
      <a routerLink='Alta_Producto'> Alta Producto</a>
    </li>
    <li>
      <a routerLink='Listado_Productos'> Listado Productos</a>
    </li>
    <li>
      <a routerLink='Alta_Pedido'> Alta Pedido</a>
    </li>
    <li>
      <a routerLink='Listado_Pedidos'> Listado Pedidos</a>
    </li>
    <li>
      <a routerLink='About_Us'> About Us</a>
    </li>
  </ul>
</nav>-->

<p-menu #menu [popup]="true" [model]="items"></p-menu>
<button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>

<!--<p-menubar [model]="items">
  <button pButton label="About_Us" icon='pi pi-user' style="margin-left:.25em"> <a routerLink='About_Us'></a> </button>
</p-menubar>-->

<router-outlet></router-outlet>