
<nav>
  <ul>
    <li>
      <a routerLink='Alta Camarero'> Alta Camarero</a>
    </li>
    <li>
      <a routerLink='Listado Camareros'> Listado Camareros</a>
    </li>
    <li>
      <a routerLink='Alta Producto'> Alta Producto</a>
    </li>
    <li>
      <a routerLink='Listado Productos'> Listado Productos</a>
    </li>
    <li>
      <a routerLink='Alta Pedido'> Alta Pedido</a>
    </li>
    <li>
      <a routerLink='Listado Pedidos'> Listado Pedidos</a>
    </li>
  </ul>
</nav>

<hr>
<router-outlet></router-outlet>